* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

nav {
    display: flex;
    align-items: center;
    width: 50%;

}

.logo {
    width: 50%;
}

.ulNav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 100%;
    gap: 2rem;
}

header a {
    color: #FF6060;
}

.banner {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.banner img {
    height: 250px;
    width: calc(100% - 40px);
    object-fit: cover;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: white;
    padding: 20px;
}

#mainIndex {
    background-color: #F6F6F6;
    margin: 30px 20px 30px 20px;
    border-radius: 30px;
}

#sectionIndex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 30px;
    border-radius: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    height: 230px;
    background-color: #FF6060;
}

.title {
    text-decoration: none;
    color: #FFFFFF;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 30px;
    background-color: #000000;
}

.copyright {
    color: #F6F6F6;
}

/******* Page a propos ********/

#mainAbout {
    margin: 50px 30px 50px 30px;
}

#sectionAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.menu {
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #FF6060;
    width: 70%;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
    color: #FFFFFF;
}

.menu-roll {
    display: none;

}

/******* Presentation *******/

#presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.sectionPresentation {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
    height: 100%;
}

.description {
    font-size: 1.3rem;
    color: #FF6060;
}

.localisation {
    color: #FF6060;
}

.avantages {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.liAvantages {
    padding: 2px 20px 2px 20px;
    border-radius: 40px;
    background-color: #FF6060;
    color: #F6F6F6;
}

.menu-description {
    width: 60%;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #FF6060;
    padding: 10px 20px 10px 15px;
    border-radius: 10px;
    color: #FFFFFF;
}

.menu-description h2 {
    font-weight: normal;
    font-size: 1rem;
}

.sectionEquipements {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    align-items: flex-end;
    height: 100%;
}

.cercle {
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius: 50%;
}

.prop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.propPrenom {
    color: #FF6060;
}

.propNom {
    color: #FF6060;
}

.etoile {
    display: flex;
    align-items: flex-end;
    color: #FF6060;
}

/***************Mobile************/

@media screen and (min-width: 320px) and (max-width:768px) {

    * {
        font-size: 13px;
    }

    /************Header************/

    header {
        display: flex;
        flex-direction: row;
        margin: 20px;
    }

    .logoResponsive {
        width: 100%;
    }

    nav {
        justify-content: flex-end;
    }

    .ulNav a {

        text-transform: uppercase;
    }

    #presentation {
        flex-direction: column;
        align-items: baseline;
        gap: 2rem;
    }

    .sectionPresentation {
        width: 100%;
        gap: 1rem;
    }

    .sectionEquipements {
        width: 100%;
        align-items: baseline;
    }

    .prop {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
    }

    .menu-description {
        width: 90%;
    }
}